html,
body {
    height: 100%;
    background:  linear-gradient(-45deg, #2d5cc0, #8029d0);
}

.container {
    margin-top: 5%;
    height: 75%;
    border-radius: 32px;
    width: 75%;
    padding: 1em;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#title{
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;

}

#names{

    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;

}



.name, .email{

    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;   
}

.input{
    display: flex;
    margin: 1em;
    width: 100%;
    flex-direction: column;
}

input{
    border-radius: 10px;
    padding: 5px;
    border: 1px solid;
}


.action_buttons{

    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;

}


button{
    border-radius: 10px;
    padding: 13px;
    width: 100%;
    border: #207FB5;
    margin: 1em;
}

#save_button{
    background-color: #207FB5;
    color: white;
}

#logout_button{
    background-color: #E84545;
    color: white;
}