#bg-contatiner{
    background: linear-gradient(-45deg, #2d5cc0, #8029d0);
}

.wrap {
    height: 100vh;
}

.purple_gradient, nav{
    height:70%;
    width:100%;
}

.purple_gradient{
    padding: 1em;
}

.graphics{
    background:#fff;
    width:100%;
}


#title{
    font-size:2em;
    text-align:center;
    padding-top:5%;
}

#pieSection{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}