#bg-container{
    background: linear-gradient(-45deg, #2d5cc0, #8029d0);
}

.wrap {
    height: 100vh;
}

.black{
    height:100%;
    width:100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;

}

.white{
    background:#fff;
    height:50%;
    width:100%;
}

#title{
    font-size:2em;
    text-align:center;
    /* margin-top:5; */
    margin-bottom: 1%;
    padding-top: 4%;
}

.description{
    font-size:1.5em;
    text-align:justify;
    margin-top:5%;
    margin: 1em;
    padding: 3em;
    padding-top: 1em;
    margin-bottom: 0px;
}

#unity-container{
    margin: 2em;
    padding: 2em;
}

#blueH:hover{
    color: #628eee;
}

#purpleH:hover{
    color: #bb64f5;
}

#creators{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.name-link{
    animation: float 6.5s ease-in-out infinite;
}

.name-link a{
    text-decoration: none;
    color: rgb(189, 186, 186);
}

.aa:hover{
    color: rgb(170, 166, 166); 
}

@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-17px);
    }
    100%{
        transform: translateY(0);
    }
}

#n2{
    animation-delay: 1.5s;
}

#n3{
    animation-delay: 2s;
}

#n4{
    animation-delay: 2.5s;
}