
.wrap {
    height: 100vh;
}
.black{
    background: linear-gradient(-45deg, #2d5cc0, #8029d0);
    height:70%;
    width:100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;

}

nav{
    background: linear-gradient(-45deg, #2d5cc0, #8029d0);

}

.white{
    background:#fff;
    height:50%;
    width:100%;
}

#title{
    font-size:2em;
    text-align:center;
    margin-top:5%;
}

.description{
    font-size:1.5em;
    text-align:justify;
    margin-top:5%;
    margin: 1em;
    padding: 1em;

}