<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../scripts/check_auth.js"></script>
    <script src="../scripts/load_game.js"></script>
    <link rel="shortcut icon" href="../tempo_artist/TemplateData/favicon.ico">
    <link rel="stylesheet" href="../tempo_artist/TemplateData/style.css">
    <link rel="stylesheet" href="../styles/play.css">
    <link rel="stylesheet" href="../styles/home.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <!-- Favicon de metronomo: ../images/metronomo.png,   /favicons/favicon-16x16.png-->
    <title>Tempo Artist</title>
</head>
<body class onload="checkAuth(event); loadGame();">
  
  <main>
    <div id="bg-container">
      
      <div id="header">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Tempo Artist</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                
                  <li class="nav-item">
                    <a class="nav-link active" href="/">Play</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/stats">My Stats</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/account">My Account</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        
      </div>
      
   
   
      <div class="wrap">
        <div class="black up-part">
          
          <div id="unity-container" class="unity-desktop">
            <canvas id="unity-canvas"></canvas>
            <div id="unity-loading-bar">
              <div id="unity-progress-bar-empty">
                <div id="unity-progress-bar-full"></div>
              </div>
            </div>
            <div id="unity-warning"> </div>
            <div id="unity-footer">
              <div id="unity-fullscreen-button"></div>
            </div>
          </div>
        </div>
      </div>


      <div class="white">

          <div id="title" class="title-reveal">

            <h1>Tempo Artist</h1>

          </div>

          <div class="description text-reveal">
            <h2> Instructions </h2>
            
            <p> There are two game modes, the purpose in both, is to hit the notes as near as posible from the hit area for 
                keep the accuracy in <b> 100%</b>. And reach the maximum score.  </p>
            
            <p> Perfect hits give <span style="color: rgb(9, 185, 249);">300</span> points, 
              good hits <span style="color: rgb(54, 238, 54);">100</span>, poor hits <span style="color: purple;">50</span>
              and missed hits <span style="color: red;">0</span> points. </p>
            <p> The details of a selected level will appear in top left of screen. </p>
            <p> You can select the speed of the notes by clicking in options button. </p>

            <ul>
              <li> 
                Game mode 1: Here you only have lineal notes of two types, <span id="blueH">blue</span> notes can be hit by clicking 
                <b>A</b> or  <b>L</b>, and <span id="purpleH">purple</span> notes whith <b>S</b> or <b>K</b>.
              </li>
              <li>
                Game mode 3: Here only have <span id="blueH">blue</span> notes, this will fall in four verical rails,
                press <b>A</b>, <b>S</b>, <b>K</b> or <b>L</b> for each rail to hit them.
              </li>
            </ul>

            <p> At the end of the level, the stats of the try will appear in a new screen. (Score, accuracy, max combo and perfect, good, poor, missed notes).</p>
            
            <p> To see the all time stats you can click in My Stats button at the nav-bar. Here you will find graphs about your tries in all levels.</p>

            <hr>


            <h2> About game </h2>
              <p> Tempo Artist is a game thinking to help people that want to learn percusion tab reading and practice rhythm sense 
                in a challenging and funny form. </p>

              <p>The game aims to feel the player motivated to learn about musical rhythms, as well as improve their coordination and cognitive skills. 
                It is a challenging game where the user must strive to improve and reach the next levels.</p>

              <p>The neon-minimal style of the game make the user feel comfortable and realax, reducing distractions and
                making a <i>self place</i> to learn.</p>
              
            <hr>

            <h2> About creators </h2>
            <p> The educational objective for this proyect was learn about Videogames, Data Bases, API's, Web develop and SCRUM. </p>
            <p> This is a project for our training partner Percution Arts Society created by four computer science students from Tec de Monterrey CSF.</p>

            <div id="creators"> 
              <div class="name-link" id="n1">
                <a class="aa" href="https://github.com/gabocordova07">Gabriel Cordoba</a>
              </div>

              <div class="name-link" id="n2">
                <a class="aa" href="https://github.com/lfvm">Fernando Valdeon</a>
              </div>

              <div class="name-link" id="n3">
                <a class="aa" href="https://github.com/u-urieldev">Uriel Aguilar</a>
              </div>

              <div class="name-link" id="n4">
                <a class="aa" href="https://github.com/danielsanchezsa">Daniel Sanchez</a>
              </div>
              
              <!-- <p> Fernando Valdeon </p>
              <p> Uriel Aguilar </p>
              <p> Daniel Sanchez </p> -->
            </div>

        </div>
          
          
          <!-- Script for reveals animations in text  -->
          <script>
            ScrollReveal({ reset: true });
            ScrollReveal().reveal('.title-reveal', {origin: "bottom", distance: "300px", easing: "ease-in-out", duration: 1500 , reset: false});
            ScrollReveal().reveal('.text-reveal', { delay: 1400, duration: 1500});
          </script>
          
        </div>  
      </div>
    </div>
  
  </main>

  


   
    
</body>
</html>